
  @import url("https://use.typekit.net/wrr4vje.css");
  
body {
    padding: 1vw;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    background-image: url(img/Background.png);
}

h1 {

    font-family: "jaf-domus-titling-web", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 60px;
}

h3 {
    font-family: "jaf-domus-titling-web", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px ;
}

p {
    font-family: "jaf-domus-titling-web", sans-serif;
    font-weight: 400;
    font-style: normal; 
}

.top-boks {
    display: flex;
    padding: 1vw;
}

.menu-button {
    margin: 1vw;
    padding: 1vw;
    border: 5px solid #2D2D2D;
    border-radius: 10px;
    background-color: #FFFFFF;
    color: #2D2D2D;
}

.page-content {
    top: 5vw;
    align-content: center;
    justify-content: center;
}

.header {
    width: 80vw;
    margin: 1vw;
    border: 5px solid #2D2D2D;
    border-radius: 10px;
    background-color: #FFFFFF;
    color: #2D2D2D;
    text-align: center;
    justify-content: center;
}

.footer {
    width: 80vw;
    bottom: 0;
    margin: 1vw;
    border: 5px solid #2D2D2D;
    border-radius: 10px;
    background-color: #FFFFFF;
    color: #2D2D2D;
    text-align: center;
    justify-content: center;
}

.facebook {
    width: 80vw;
    margin: 3vw;
    text-align: center;
    justify-content: center;
}


.boks {
    margin: 1vw;
    text-align: center;
    justify-content: center;
}

.indhold {
    width: 20vw;
    border: 5px solid #2D2D2D;
    border-radius: 10px;
    background-color: #FFFFFF;
    color: #2D2D2D;
    text-align: center;
    justify-content: center;
}

.knap {
    text-align: center;
    justify-content: center; 
}

button {
    width: 10vw;
    height: 3vw;
    color: #FFFFFF;
    background-color: #2A4F87;
    border-radius: 10px;
    border: 5px solid #203B65;
    font-size: 1vw;
    font-family: "jaf-domus-titling-web", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.fb-img {
    margin: 1vw;
    justify-content: center;
    text-align: center;
}

.fb-img img {
    width: 5vw;
    border-radius: 50vw;
    border: 5px solid #203B65;
    justify-content: center;
    text-align: center;
}

.img-place {
    margin: 1vw;
    justify-content: center;
    text-align: center;
}

.img-place img {
    width: 80vw;
    border: 5px solid #2D2D2D;
    border-radius: 10px;
    background-color: #FFFFFF;
}

/* font størrelser
Regular:
font-family: "jaf-domus-titling-web", sans-serif;
font-weight: 400;
font-style: normal;

Bold:
font-family: "jaf-domus-titling-web", sans-serif;
font-weight: 700;
font-style: normal;

Extra Bold:
font-family: "jaf-domus-titling-web", sans-serif;
font-weight: 800;
font-style: normal;*/